.btn-payement {
  border: 1px solid $pink;
  height: 120px;
  width: 400px;
  border-radius: 2px;
  margin: 15px;
  padding: 15px;
  background-color: $blue;
  display: flex;
  align-items: center;
  color: #FFF;
}
