<div class="container">
  <div class="row">
    <h1><%= @user.firstname %></h1>

    <p>
      Votre commande est en attente de traitement.
    </p>
    <p>
      Nous vous ferons parvenir un email quand nous commencerons à la préparation.
    </p>
    <p>
      Bonne journée
    </p>

    <%#= render "carts/shopping" %>


  </div>
</div>
