<%= render 'gabarit_header' %>

<h><%= @user.firstname %>,</h1>

<p>
  Votre commande est en cours de préparation..
</p>
<p>
  Nous vous ferons parvenir un email quand nous expéridons la commande.
</p>
<p>
  Bonne journée
</p>
<%= render "carts/shopping_cart_mail" %>

<%= render 'gabarit_footer' %>

