<%= render 'gabarit_header' %>

<h><%= @user.firstname %>,</h1>

<p>
  Votre commande est en cours de préparation..
</p>
<p>
  Nous vous ferons parvenir un email quand nous expéridons la commande.
</p>
                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    <i class="fa fa-instagram" aria-hidden="true"></i>
<p>
  Bonne journée
</p>

<%= render 'gabarit_footer' %>
