<%= render 'gabarit_header' %>

<h><%= @user.firstname %>,</h1>

<p>
  Votre commande est compléte, nous venons de vous l'expédier.
</p>
<p>
  Bonne journée
</p>
<%= render "carts/shopping_cart_mail" %>

<%= render 'gabarit_footer' %>

