<div class="wrapper-footer">
  <div class="wrapper-social-link">

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="input-group">
            <input type="text" class="form-control" value="S'incrire à la newsletter" readonly="true">
            <span class="input-group-btn">
            <%= link_to "ok", new_user_registration_path, class: "btn btn-primary"  %>
            </span>
          </div>
        </div>

        <div class="col-xs-12">
          <div class="links-footer">
            <%= link_to "Mentions légales", legal_path  %>
            |
            <%= link_to "Conditions générales de ventes", cgv_path %>
            |
            <a href="http://ec.europa.eu/consumers/odr" target='_blank'>En cas de litiges</a>
          </div>
        </div>

        <div class="col-xs-12">
          <div class="newsletter">
            <p>Paiements acceptés | </p>
            <p>Tarifs livraison</p>
          </div>
        </div>

        <div class="col-xs-12">
          <ul class="list-inline">
            <li>
              <i class="fa fa-facebook"></i>
            </li>
            <li>
              <i class="fa fa-instagram"></i>
            </li>
            <li>
              Copyright © 2017 Scrapdidi
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
