<div class="wrapper-footer">
  <div class="wrapper-social-link">

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="S'incrire à la newsletter">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button">Ok</button>
            </span>
          </div>
        </div>

        <div class="col-xs-12">
          <div class="links-footer">
            <a href="">Mentions légales | </a>
            <a href="">Conditions générales de ventes | </a>
            <a href="">En cas de litiges</a>
          </div>
        </div>

        <div class="col-xs-12">
          <div class="newsletter">
            <p>Paiements acceptés | </p>
            <p>Tarifs livraison</p>
          </div>
        </div>

        <div class="col-xs-12">
          <ul class="list-inline">
            <li>
              <i class="fa fa-facebook"></i>
            </li>
            <li>
              <i class="fa fa-instagram"></i>
            </li>
            <li>
              Copyright © 2017 Scrapdidi
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
