  <div class="row">
    <div class="col-xs-12">
      <div class="menu-items">
        <%= link_to root_path do %>
          <i class="fa fa-home navbar-buttons-menu" aria-hidden="true"></i>
        <% end %>
        <% @category.ancestors.each do |category| %>
          <%= link_to category.name, category_path(category) %>
          >
        <% end %>
          <strong>
            <%= link_to @category.name, category_path(@category) %>
          </strong>
      </div>
    </div>
  </div>
