<div class="container">
  <div class="row">
    <div class="cgv-div">
      <strong>Les présentes conditions s'appliquent entre :</strong>
      <p>ScrapDidi appartenant à Amandine Vannieuwerburgh, autoentrepreneur n° siret 81794148700016</p>
      <strong>Et</strong>
      <p>Tous clients visitant ou effectuant un achat via le site Internet www.scrapdidi.fr
        Les présentes conditions visent à régir les relations et les modalités de vente à distance entre ScrapDidi et tout utilisateur du site www.scrapdidi.fr.
        Toute confirmation par le client d'une commande saisie sur le site scrapdidi.fr implique l'adhésion irrévocable aux conditions générales de vente. Ces conditions générales de vente pouvant faire l'objet de modifications, les conditions applicables sont celles en vigueur sur www.scrapdidi.fr à la date de passation de la commande par le client.
        ScrapDidi rappelle que ses ventes sont exclusivement réservées aux personnes physiques majeures achetant pour leurs besoins personnels et disposant d'une adresse physique de résidence. Les mineurs n'ont pas la possibilité de conclure le présent contrat.</p>
      <strong>Les Produits :</strong>
      <p>Chaque article proposé sur le site filandscrap.com est décrit et présenté avec la plus grande précision possible. Une fiche indicative avec photo est accessible en cliquant sur l’article. Carine Puchois-FilandScrap apporte le plus grand soin à la mise en ligne d'informations relatives aux caractéristiques essentielles des produits, au moyen notamment de descriptifs émanant de ses partenaires et fournisseurs, et de photographies illustrant les produits.
        Si une erreur de description ou de visuel apparait sur un produit, nous nous engageons à la corriger dans les plus brefs délais.
        Toute commande vaut acceptation express et irrévocable des descriptions des produits disponibles à la vente. Le client déclare avoir pris connaissance et accepté les présentes conditions générales de vente avant de confirmer toute commande.</p>

      <strong>Prix :</strong>
      <p>Les prix sont indiqués en euros toutes taxes comprises et hors frais de livraison qui restent à la charge du client sauf mention ou conditions particulières. Toutes les commandes sont payables en euros.
        Les produits seront facturés sur la base des tarifs en vigueur au moment de l'enregistrement de la commande. ScrapDidi se réserve le droit de les modifier en fonction des accords commerciaux avec les fournisseurs et de l'évolution de l'environnement économique.
        En cas de commande vers un autre pays que la France métropolitaine, le client devient importateur du ou des produits concernés. Des droits de douane ou autres taxes ou droits d'importation ou taxes d'état sont susceptibles d'être exigibles. Ces droits et sommes ne relèvent pas du ressort de ScrapDidi
        Toute commande vaut acceptation express et irrévocable des prix des produits disponibles à la vente. Le client déclare avoir pris connaissance et accepté les présentes conditions générales de vente avant de confirmer toute commande.</p>

      <strong>Enregistrement d'un nouveau client</strong>
      <p>Lors de la première commande, et afin de personnaliser l'environnement de chaque client, l’enregistrement via un compte client est nécessaire. Les informations suivantes sont demandées en obligatoires : Nom, Prénom, Adresse, Mail. Ce sont les informations qui permettent d’envoyer la commande et de communiquer avec le client. Après la validation de son inscription, le client recevra un mail l’informant de la création de son compte. Un client ne s'enregistre donc qu'une seule fois sur le site. Le client est entièrement responsable de son adresse mail et de son mot de passe, ils valent preuve d'identité et l'engage sur toute commande passée par leur intermédiaire.
        Lors de l'inscription, vous certifiez que les données que vous saisissez sont réelles et vraies. Toute fausse déclaration ou déclaration erronée et/ou incomplète sera considérée comme nulle et entraînera la suppression du compte.
        ScrapDidi se réserve le droit de bloquer la création et l’utilisation de multi-comptes ; une même personne physique et majeure (même nom, même adresse) ne peut créer qu’un compte.</p>

      <strong>Disponibilité</strong>
      <p>Les produits sont proposés dans la limite des stocks disponibles, étant précisé que ScrapDidi fait son possible pour que la majorité des produits soient toujours disponibles.
        Des ruptures peuvent subvenir entre le moment où le client passe la commande et le moment où ScrapDidi reçoit le paiement, d'où un écart possible entre la commande et la facture.
        Si un produit est en rupture, le client en est informé et, le cas échéant, il est remboursé si le produit ne peut lui être fourni dans les jours suivants. Le client sera remboursé selon le mode de paiement choisi lors de la commande.</p>

      <strong>Livraison et tarifs de livraison</strong>
      <p>ScrapDidi propose 2 modes de livraison :</p>
      <ul>
        <li>Livraison en lettre suivie</li>
        <li>Livraison en Colissimo en 48h</li>
      </ul>
      <p>ScrapDidi propose également 2 modes de retrait de la commande afin d’économiser sur les coûts de livraison : </p>
      <ul>
        <li>Retrait au domicile d’Amandine Vannieuwerburgh, gérante de scrapdidi.fr</li>
        <li>Retrait lors des salons (de scrapbooking ou loisirs créatifs)</li>
      </ul>
      <p>Les articles commandés sont expédiés à l'adresse de livraison indiquée au cours du processus de commande.
        Les commandes sont traitées dans les 48h qui suivent l’avis de réception du paiement de la commande et sont expédiées dans les 48-72h jour ouvré sous réserve que tous les produits soient disponibles. ScrapDidi met tout en œuvre pour respecter les délais de préparation et de livraison. Nous vous rappelons toutefois que les délais de livraison dépendent du prestataire que vous avez choisi.
        Les frais de port sont fixés en fonction des tarifs de LA POSTE en vigueur à la date de la validation de la commande.
        Les frais de ports sont gratuits, en livraison Lettre suivie ou Colissimo uniquement pour la France Métropolitaine et la Belgique, pour toute commande d’un montant supérieur à 39€. Les frais de port offerts sont sans assurances.
        Les frais de port en livraison Colissimo restent payant quelque soit le montant de la commande.
        En cas de non réception d'un colis dans les délais, nous vous conseillons de vous rapprocher de votre prestataire et le cas échéant de contacter notre service client. Nous vous rappelons qu’une ouverture d’enquête auprès de La Poste peut prendre jusqu'à 21 jours et une enquête auprès de Colissimo prendra de 10 à 14 jours.
        Nous vous demandons de vérifier l'état de l'emballage et la conformité du produit livré et d'émettre le cas échéant toute réserve sur le bordereau de livraison du transporteur.</p>

      <strong>Paiement</strong>
      <p>La commande n'est définitivement validée par le client qu'une fois son mode de paiement choisi. Elle ne sera cependant définitivement prise en compte par ScrapDidi qu'une fois le mode de paiement reçu de manière effective.
        Le client a la possibilité de choisir son mode de paiement. Le paiement s’effectue en ligne par carte bancaire via la plateforme Paypal, par chèque (à l’ordre de La Boutique de Didi),par virement bancaire ou en espèces (uniquement pour le retrait d’une commande à domicile ou en salon).
        Paypal : Les paiements sont réalisés en ligne via un compte Paypal client existant ou par carte bancaire via la plateforme Paypal et sont entièrement sécurisés.
        Chèque : Après validation de la commande, l’acheteur disposera d’un délai de 7 jours pour faire parvenir un chèque émis par une banque domiciliée en France, du montant exact de sa commande.
        Une fois les 7 jours passés, ScrapDidi se réserve le droit de remettre les produits en vente, sans possibilité d’aucune réclamation.
        Le chèque devra être libellé à l’ordre de La Boutique de Didi et l’adresser au 40 rue des coulons, 59 200, Tourcoing.
        Aucune commande ne sera expédiée sans encaissement effectif du règlement auprès de Carine Puchois.
         En conséquence, les délais de livraison applicables dans ce cas sont ceux au jour de réception du virement.
        De plus,ScrapDidi se réserve le droit de ne pas valider une commande émise par un acheteur ayant des antécédents d’impayés auprès de la boutique.
        Le virement bancaire : l’acheteur dispose d’un délai de 7 jours pour faire parvenir à ScrapDidi le paiement sur le compte bancaire de la boutique du montant exact de sa commande.
        Les coordonnées sont communiquées par mail après validation du processus du commande et validation de ce mode de paiement.
        La commande ne sera traitée et expédiée qu’après confirmation de réception du virement bancaire.
        En conséquence, les délais de livraison applicables dans ce cas sont ceux au jour de réception du virement. Une fois les 7 jours passés, ScrapDidi se réserve le droit de remettre les produits en vente, sans possibilité d’aucune réclamation.
        La devise applicable sur l’ensemble du site www.scrapdidi.fr est l’euro, toutes les commandes sont à régler dans cette devise.</p>


      <strong>Retours</strong>
      <p>Dans le cas d’un produit défectueux, le client dispose d'un délai de 14 jours ouvrables pour contester le produit et d’en informer ScrapDidi dans les plus brefs délais.
        Dans le cas d’un produit inexact à la commande, le client dispose d’un délai de 14 jours ouvrables pour en faire la réclamation.
        Passé ce délai, les produits livrés seront réputés conformes et acceptés par le client, et ScrapDidi se réserve le droit de refuser l'échange, l'avoir, ou le remboursement.
        ScrapDidi s'engage à rembourser ou à échanger les produits défectueux ou ne correspondants pas à une commande dans un délai inférieur ou égal à 14 jours ouvrés après réception du retour par le client.</p>

      <strong>Rétractation</strong>
      <p>Dans les conditions prévues par l'article L121-16 du code de la consommation et dans le cadre de la vente à distance, le client dispose d'un délai de rétractation de 14 jours francs à compter de la livraison de sa commande pour changer d'avis. SCrapDidi vous remboursera au plus tard dans les 14 jours, l'intégralité du montant des articles retournés en bon état.
        Les frais de retour demeurent à la charge du client, seul le prix du ou des produits achetés sera remboursé sous réserve de l'état dans lequel il a été retourné à l'expéditeur.</p>

      <strong>Protection des données personnelles</strong>
      <p>Le renseignement des informations nominatives collectées dans le cadre de la vente à distance est obligatoire, ces informations étant nécessaires pour le traitement et la livraison des commandes ainsi que pour l'établissement des factures. Ces informations sont strictement confidentielles et ne sont destinées qu'à ScrapDidi.</p>

      <strong>Modification</strong>
      <p>Les parties conviennent que ScrapDidi peut, de plein droit, modifier son service et de porter s'il y a lieu ces modifications dans les conditions générales en ligne. Scrapmalin.com invite le client à chaque nouvelle commande de relire attentivement les conditions générales de vente en vigueur.</p>

      <strong>Durée</strong>
      <p>Les présentes conditions s'appliquent pendant toute la durée de mise en ligne des services proposés par ScrapDidi.</p>

      <strong>Litiges</strong>
      <p>Les présentes conditions générales de vente sont soumises à la loi française. La langue du présent contrat est la langue française. En cas de litige, le client et lScrapDidi s'engagent à rechercher une solution amiable, à défaut, les tribunaux français seront seuls compétents. Les litiges intervenus avec un client sont suivis par ScrapDidi.</p>
    </div>
  </div>
</div>
