<div class="container">
  <div class="row">
    <div class="cgv-div" id="">
      <strong>Mentions légales</strong>
      <p>Scrapdidi auto-entreprise gérée par Amandine Vannieuwerburgh</p>
      <p>40, rue des coulons, 59200, Tourcoing</p>
      <p>Téléphone : 06.11.60.30.25 (du lundi au vendredi entre 12h et 14h et aprés 18h jusque 21h et le samedi de 10h à 19h).</p>
      <p>Email : scrapdidi@gmail.com</p>
      <p>N° SIRET : 81794148700016</p>

      <strong>Franchise en base de TVA</strong>
      <p>Conformément à l'article 239 B du CGI, franchise en base de TVA.</p>
      <p>Dispensée d’immatriculation en application de l’article L 123-1-1 du code de commerce.</p>

      <strong>Hébergement</strong>
      <p>Nom : 1and1 (1and1.fr)</p>
      <p>Adresse : 7, place de la Gare BP 70109 57201 Sarreguemines Cedex</p>
      <p>Téléphone : 0970 808 911 (appel non surtaxé)</p>
    </div>
  </div>
</div>
