<div class="container">
  <div class="row">
    <div class="steps">
      <%= helper_step("Confirmation") %>
    </div>
  </div>
  <div class="row">
    <h3>Virement bancaire</h3>
    <hr>
    <p>Nous vous remercions pour votre commande, vous allez recevoir un email avec les instructions vous permettant de réaliser le virement.</p>
    <p>A bientôt</p>
    <%= link_to "Retour à la boutique", root_path, class: "btn btn-block btn-primary" %>
  </div>
</div>



