<tr>
  <td colspan="2"></td>
  <td colspan="2">Total produits TTC</td>
  <td><%= helper_price(current_order.subtotal) %></td>
  <td></td>
</tr>
<tr>
  <td colspan="2"></td>
  <td colspan="2">Frais de ports</td>
  <td><%= helper_price(Delivery.find(current_order.delivery_id).price*100) %></td>

  <td></td>
</tr>
<tr>
  <td colspan="2"></td>
  <td colspan="2">Total commande</td>
  <td><%= helper_price(current_order.subtotal + current_order.shipping_price*100) %></td>
  <td></td>
</tr>
<tr>
  <td colspan="2"></td>
  <td colspan="3">
    <%= link_to "Je commande", edit_order_path(current_order.id), class: "btn btn-primary btn-block #{@class_hidden}"%>
  </td>
  <td></td>
</tr>
