<tr>
  <td colspan="2"></td>
  <td colspan="2">Total produits TTC</td>
  <td><%= helper_price(current_order.subtotal) %></td>
  <td></td>
</tr>
<tr>
  <td colspan="2"></td>
  <td colspan="2">Frais de ports</td>
  <td><%= helper_price(current_order.shipping_price) %></td>
  <td></td>
</tr>
<tr>
  <td colspan="2"></td>
  <td colspan="2">Total commande</td>
  <td><%= helper_price(current_order.subtotal + current_order.shipping_price) %></td>
  <td></td>
</tr>
<tr>
  <td colspan="2"></td>
  <td colspan="3">
    <%= link_to "Je Commande", cart_delivery_path, class: "btn btn-primary btn-block" %>
  </td>
  <td></td>
</tr>
