<div class="container">
  <div class="row">
    <div class="steps">
      <%= helper_step("Mon Panier") %>
    </div>
  </div>

  <div class="shopping-cart">
    <%= render "shopping_cart" %>
  </div>
</div>
