// Your footer style
.wrapper-footer {
  background-color: $gray-footer;
  padding-top: 15px;
  color: $gray-light;
  i {
    font-size: 20px;
  }
}
.newsletter {
  display: flex;
  align-items: center;
  input {
    // width: 80%;
  }
}
.links-footer {
  padding-top: 5px;
  padding-bottom: 5px;
}
