.menu-items {
  ul li {
    display: inline;
  }
}

.card-category {
  img {
    width: 100%;
  }
  margin-bottom: 10px;
  text-align: center;
  border-radius: 3px;
  padding: 5px;
  border: solid 1px $gray-footer;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
}

.card-category:hover {
  border: $pink-dark solid 2px;
  background-color: $pink;
  box-shadow: 5px 5px 20px $pink;
}
