.picture-show {
  background-color: red;
  height: 270px;
  margin: 10px;
}

.price-stock-zone {
  padding:5px 0 5px 0;
  display: flex;
  justify-content: space-between;
}

.price-stock {
  width: 40%;
}
