<%= link_to cart_path do %>
  <div class="cart-container">
    <div class="cart-basket">
      <i class='fa fa-shopping-basket' aria-hidden='true'></i>
    </div>
    <div class="cart-size">
        <%= current_order.order_items.collect{|oi| oi.quantity}.sum %>
    </div>
    <div class="cart-price">
      <p>
        Mon Panier
        <%= helper_price(current_order.subtotal + current_order.shipping_price*100) %>
      </p>
    </div>
  </div>
<% end %>
<!-- TODO work on mobile view -->
